{% extends "base.html" %} {% block content %}

<h1>This is the home page</h1>

<p>
  Welcome to Health Pro OT Clinic, where We try to enhance a person's ability to
  perform everyday tasks to improve daily life. OT involves the Theraputic Use
  Of Daily Activities To Treat Physical And Mental Illnesses Occupational
  Therapy (OT) is an allied health profession that involves the therapeutic use
  of everyday activities, or occupations, to treat the physical, mental,
  developmental, and emotional ailments that impact a patient’s ability to
  perform day-to-day tasks. As such, an occupational therapist is a practitioner
  who uses therapeutic techniques to improve, rehabilitate, or maintain a
  patient’s ability to perform everyday activities. Dr Patrick is certified
  therapist who is situated in Nairobi, Kenya. He started working as a
  practitioner at a private clinic that was set up to help all person's with
  special needs. He volunteered from 2015 to 2016, a time during which He was
  slowly but surely setting up Health Pro Occupational Therapy Clinic. Dr
  Patrick works together with other doctors all over the country and hand in
  hand with Hospitals like MP shah, The Aga Khan hospital among others to better
  the well-bieng of his patients. "We work together with parents, teachers, and
  caregivers to provide high-quality care to aid the child to overcome their
  difficulties in growth and development. We assist children, adults and their
  families build resiliency, relationships and regulation skills through nature
  based Occupational Therapy services. Ages 3-adult"
</p>
{% endblock content %}
