{% extends "base.html" %} {% block content %}
<h1>We offer services like:</h1>
<p>
  Common occupational therapy interventions include helping children with
  disabilities to participate fully in school and social situations, helping
  people recovering from injury to regain skills, and providing supports for
  older adults experiencing physical and cognitive changes. Occupational therapy
  services typically include: Pediatric Occupational Therapy. Physical
  Dysfunction Occupational Therapy. Psychosocial Occupational Therapy Occupation
  Health and Safety. (Ergonomics)
</p>

{% endblock content %}
